apiVersion: metallb.io/v1
kind: IPAddressPool
metadata:
  name: homelab-pool
  namespace: metallb-system
spec:
  addresses:
    - 10.0.9.200-10.0.9.210
---
apiVersion: metallb.io/v1
kind: L2Advertisement
metadata:
  name: l2
  namespace: metallb-system
